body
{
	background-color:#B0C4DE;
}

#conteneur
{
	width:1200px;
	margin-left: auto;
	margin-right:auto;
}
	
nav
{
	background-color:#F5F5F5;/*jjaune*/
	width: 250px ; 
	min-height: 200px ;
	vertical-align:top;
	border-radius : 5px;
	border-width : 2px;
	border-style : solid;
	padding : 20px;
	border-color:black;
	display:inline-block;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
}

footer
{
	background-color: #B0C4DE;
	width: 30%;
	clear: both;
}

footer
{
	background-color: #F5F5F5;	/*blanc*/
	width: 307px;
	clear:both;
	border-radius : 5px;
	border-width : 2px;
	border-style : solid;
	border-color:black ;	
	vertical-align: top;
	margin-left:auto;
	margin-right:auto;
}

section
{
	background-color: #F5F5F5;
	border-width : 2px;
	width: 680px;
	display : inline-block;
	border-style: solid ;
	border-color : blue;
	border-radius : 5px;
	padding: 20px;
	vertical-align:top;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
	margin-left: 10px;
	margin-right: 10px;
}
	
caption
{
	color: #B22222;
	text-align:center;		
}

th
{
	color : #808080;	
}

p{
	color: #FF4500;
}
textarea
{
	width:100%;
}
#contenu, #description
{
	height: 400px;
}
#titre
{
	width: 100%;
}
